@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👉 커스텀 글로벌 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  color: #111827; /* 기본 글자색 (gray-900) */
}
